@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'SF Pro Display', system-ui, sans-serif;
	background-color: #ffffff;
	color: #1d1d1f;
}
